/* ==========================================================================
   CARITATHELP

   LESS Stylesheet
   Created by Nicolas
   ========================================================================== */
body {
  font-family: Roboto;
}
.container {
  width: auto;
}
.navbar-inverse {
  background-color: #93c47d;
  border-color: #000;
}
.navbar-inverse .navbar-brand {
  color: #000;
}
