.card.listing
	.card--title Amis
	.friend(ng-repeat="friend in friendlist.friends")
		a(ui-sref="profil.home({id: {{friend.id}}})", title="{{friend.firstname}} {{friend.lastname}}")
			img.friend--img(ng-src="http://api.caritathelp.me{{friend.thumb_path}}", alt="{{friend.firstname}} {{friend.lastname}}", class="img-circle")
		a.name(ui-sref="profil.home({id: {{friend.id}}})") {{friend.firstname}} {{friend.lastname}}
