
@body-background: #E4F7DD;
@landing-background: #436435;

@main-green: #b6d7a8;

@text-color: #eee;
@link-color: #30A01C;

@active-hover: #eee;

/*
	BOUTTONS
*/

@button-color: #53A634;
@button-text: #fff;
@button-hover: #30A01C;
@button-border: #30A01C;

/*
	 NAVIGATION BAR
*/
@navbar-height: 55px;
@navbar-green: #53A634;
@navbar-border: #30A01C;
@navbar-text: rgba(255,255,255,.8);
@navbar-hover: #fff;

/*
	CARD
*/
@card-background: #fff;
@card-radius: .25rem;
@card-shadow: #D5E7CF; //bordure extérieure de la carte "ombre"
@card-border: #d4dbe0; //borders à l'intérieur de la carte
@card-inverse-bg: #EFEBEB;
