
@body-background: #E4F7DD;
@landing-background: #436435;

@main-green: #b6d7a8;

@text-color: #eee;
@link-color: #30A01C;

@active-hover: #eee;

@button-color: #53A634;
@button-text: #eee; //text-color
@button-hover: #30A01C; //link-color

/*
	 NAVIGATION BAR
*/
@navbar-height: 55px;
@navbar-green: #53A634; //button-color
@navbar-border: #30A01C; //link-color
@navbar-text: rgba(255,255,255,.8);
@navbar-hover: #fff;

/*
	CARD
*/
@card-radius: .25rem;

/*
	TILE
*/

@tile-background-color: @main-green;
@tile-shadow-color: @main-green + #111;
@tile-border-color: transparent;


/*

BOUTTON DEFAULT


*/

@btn-dft-background-color:#58AA30;
@btn-dft-background-color-hover:#489026;
@btn-dft-border-color:#246A02;
@btn-dft-shadow-color:#246A02;
