/* ==========================================================================
   CARITATHELP

   LESS Stylesheet
   Created by Nicolas
   ========================================================================== */

@import "variables";


body {
	font-family: Roboto;
}

.container {
	width: auto;
}

.navbar-inverse {
	background-color: @navbar-green;
	border-color: @navbar-borders;
	.navbar-brand {
		color: @navbar-color-logo;
	}
}











	