.card
	h2.ch-text.--mega Suppression de l'évènement
	.alert.alert-danger.
		#[i.fa.fa-exclamation-triangle]
		Cette action est irréversible !
	button.ch-btn.--fail(ng-click="settings.deleteEvent()") Supprimer l'évènement
