//cartes pour afficher les éléments
	.card {
		display: flex;
		flex-direction: column;
		padding: 1em;
		margin-bottom: 1em;
		background-color: @card-background;
		border: 1px solid @card-shadow;
		border-radius: @card-radius;
	}
	.card--title {
		padding-bottom: .5em;
		font-size: 1.2em;
		font-weight: bold;
		line-height: 1.2;
	}
	.no-padding {padding:0;}

	.ch-card_header {
		padding-bottom: .275em;
		margin-bottom: .725em;
		border-bottom: 1px solid #d4dbe0;
	}
	.ch-card_footer {
	  padding-top: .275em;
	  margin-top: .725em;
	  border-top: 1px solid #d4dbe0;
	}


//Settings des liens
	a {
		color: inherit;
		text-decoration: inherit;
		transition: color .25s ease;
		&:focus, &:hover {
			color:@link-color;
			text-decoration: none;
		}
	}

// Header écran de co/login
.connect--header {
	padding-bottom: .5em;
	margin-bottom: .5em;
	font-size: 1.75rem;
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

// Cartes friend/asso profil
.listing {
	.friend, .association, .event {
		display: flex;
		align-items: center;
		.name {
			flex-grow: 1;
			padding: 0 1em;
		}
	}
}
