//cartes pour afficher les éléments
	.card {
		display: flex;
		flex-direction: column;
		padding: 1em;
		margin-bottom: 1em;
		background-color: @card-background;
		border: 1px solid @card-shadow;
		border-radius: @card-radius;
	}
	.card--title {
		padding-bottom: .5em;
		font-size: 1.2em;
		font-weight: bold;
		line-height: 1.2;
	}
	.no-padding {padding:0;}

//Settings des liens
	a {
		color: inherit;
		text-decoration: inherit;
		transition: color .25s ease;
		&:focus, &:hover {
			color:@link-color;
			text-decoration: none;
		}
	}

//Tableaux première colonne maximale
.table-max {
	td {
		white-space: nowrap;
		&:first-child {
			width: 100%;
		}
	}
}
.event--table {
  td {
		padding: .5rem;
		vertical-align: middle;
  }
  .col-status {
		text-align: center;
	  }
  img {
		width: 3em;
		height: 3em;
		max-height: 3em;
  }
}

// Header écran de co/login
.connect--header {
	padding-bottom: .5em;
	margin-bottom: .5em;
	font-size: 1.75rem;
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
