.with-cover .cover {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 3em 0 0;
	color: #fff;
	text-shadow: 1px 1px #000;
	background: rgba(0,0,0,.5);
}
//couverture de l'utilisateur
.cover__background {
	.abso-center();
	background: url(../img/cover/skyline.jpg); //doit être modifiée dynamiquement par le controller
	background-size: cover;
	background-position-y: 80%;
}
//Informations sur l'user
.cover__infos {
	padding-bottom: 1em;
	text-align: center;
	filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
	.name {
		padding-top: .5em;
		font-size: 2em;
	}
	.picture:extend(.img-avatar) {width: 8em;}
}
//Menu de navigation
.cover__navigation {
	display: flex;
	align-self: center;
	padding-bottom: .7em;
}
.cover__navigation a {
	position: relative;
	padding: 0 .6em;
	font-size: 1.2em;
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	transition: color 0.2s ease-in-out;
	&:active, &:focus, &:hover {color: #fff;}
}
.cover__navigation .active {
	color: #fff;
	&:after {
		position: absolute;
		bottom: -.55em;
		left: 50%;
		margin-left: -10px;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #f5f8fa;
		border-left: 10px solid transparent;
		content: '';
	}
}

.with-cover .tabs {
	display: flex;
	flex-grow: 1;
	width: 100%;
	> div { //.row de bootstrap, repris pour pas ajouter de classe
		margin-right: -.9375rem;
    margin-left: -.9375rem;
	}
}
