.ch-profil
	.ch-profil_cover
		.ch-profil_background
			img.bscard-bkimg(ng-src="{{vm.apiurl + vm.asso.thumb_path}}", alt="{{vm.asso.name}}")
		.ch-profil_picture
			img(ng-src="{{vm.apiurl + vm.asso.thumb_path}}", alt="{{vm.asso.name}}")
		.ch-profil_name {{vm.asso.name}}
	.ch-profil_nav
		button.ch-btn.ch-profil_nav-button(ui-sref="association.home", ui-sref-active="active")
			i.fa.fa-home
			span Accueil
		button.ch-btn.ch-profil_nav-button(ui-sref="association.members", ui-sref-active="active")
			i.fa.fa-users
			span Membres
		button.ch-btn.ch-profil_nav-button(ui-sref="association.calendar", ui-sref-active="active")
			i.fa.fa-calendar
			span Calendrier
		button.ch-btn.ch-profil_nav-button(ui-sref="association.settings.general", ui-sref-active="active", ng-if="vm.asso.rights == 'owner' || vm.asso.rights == 'admin'")
			i.fa.fa-cog
			span Administration

	.tabs
		ui-view(ng-show="vm.loaded")
		.profil--loader(ng-show="!vm.loaded")
			i.fa.fa-spin.fa-refresh
			.loader--info Chargement du profil
