extends ../modalLayout

block header
	.ch-modal_title Notifications
	button.ch-btn.--icon.--inverse.--tertiary.--pill(ng-click="modal.dismiss()")
		i.fa.fa-times

block content
	section.notif(ng-repeat="notif in notifs")
		a(ui-sref="profil.home({id:notif.sender_id})")
			img(ng-src="http://api.caritathelp.me{{notif.sender_thumb_path}}", alt="{{notif.sender_name}}")
		a(ui-sref="profil.home({id:notif.sender_id})").friend--name {{notif.sender_name}}
		button.ch-btn(ng-click="modal.read(notif.id)", id="read-{{notif.id}}") Marquer lu



block footer
	.ch-modal_footer-info
	.ch-modal_footer-actions
		button.ch-btn.--fail(ng-click="modal.dismiss()") Fermer
