.col-md-4
	.card.calendar
		h5.title A propos
		.text-list
			.link(ng-class="{active:calendar.isSet(1)}")
				i.fa.fa-calendar
				a(ng-click="calendar.setTab(1)") Tous les évènements
			.link(ng-class="{active:calendar.isSet(2)}")
				i.fa.fa-calendar-check-o
				a(ng-click="calendar.setTab(2)") Participations
			.link(ng-class="{active:calendar.isSet(3)}")
				i.fa.fa-calendar-plus-o
				a(ng-click="calendar.setTab(3)") Créer un évenement

.col-md-8
	.card.calendar
		h5.title Vos évènements à venir
		table
			thead
				tr
					each val in ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche']
						th.title-day.day.card= val
			tbody
				- var i=0
				while i < 35
					if (i % 7 == 0)
						tr
					td.day.card(class=((i==0||i>30) ? 'disabled-day':''))=i++
