.ch-grid
	.ch-grid_col.--one-third_from-tablet
		user-summary
		.action
			a(ui-sref="profil.settings.general").
				#[i.fa.fa-pencil]
				Modifier profil
	.ch-grid_col.--two-thirds_from-tablet
		timeline
