.tile {
	padding: 10px;
	border: 1px solid @tile-border-color;
	//background: @tile-background-color;
	border-radius: 4px;
	 //.box-shadow(3px; 3px; 0; @tile-shadow-color);
	 padding-top: 100px;		

}
.inscription{
	 border-right: 2px solid @tile-shadow-color;
	}

.tile form {
	h1 {margin-bottom: 20px;}
	span.input-group-addon {
		font-size: 15px;
		/* Fix pour aligner les icones dans le formulaire d'enregistrement */
		max-width: 36px;
		min-width: 36px;
	}
	#userNaissance {
		select:first-of-type {width: 25%;}
		select {width: 40%;}
		select:last-of-type {width: 35%;}
	}
	#userLastName {padding-left: 0;}
	#submitLogin,#submitRegister {padding-right: 15px;}

	#inputGenre {
		.form-group {
			margin-bottom: 0;
		}
		a {
			height: 40px;
			font-size: 20px;
		}
	}
	#radioGender .notActive{
    color: #3276b1;
    background-color: #fff;
	}
}