/* ==========================================================================
	 CARITATHELP

	 LESS Stylesheet
	 Created by Nicolas
	 ========================================================================== */

@import "abstract/mixins";
@import "abstract/variables";

@import "base/normalize";
@import "base/base";
@import "base/grid";

@import "compo/images";
@import "compo/button";
@import "compo/form";
@import "compo/inputs";

@import "compo/navbar";
@import "compo/cover";

@import "modules/calendar";
@import "modules/lists";
@import "modules/cards";
@import "modules/settings";
@import "components/summary";
@import "components/actions";
@import "components/timeline";
@import "components/loader";
@import "pages/landing";
@import "pages/search";
@import "pages/inbox";

// A clean
@import "modules/modal";


body {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	background-color: @body-background;
	padding-top: @navbar-height;
}
