/* ==========================================================================
   CARITATHELP

   LESS Stylesheet
   Created by Nicolas
   ========================================================================== */
 
@import "variables";
@import "mixins";
@import "login-page";
@import "buttons";

html, body {
	height: 100%;
}
body {
	font-family: Roboto;
	padding-top: @navbar-height;
}


/* =================	STICKY FOOTER ================= */
	.wrapper {
		min-height: 100%;
		margin-bottom: -41px;
		padding-bottom: 15px;
		&:after {
			content: "";
			display: block;
	  height: 60px;
		}
	}
	.footer {
	  border-top: 1px solid @navbar-border;
	  height: 60px;
	  .container {
	  	padding: 15px 0;
	  }
	}

/* =================	BARRE DE NAVIGATION ================= */
	.navbar {
		background-color: @navbar-green;
		border-bottom: 1px solid @main-green;
		height: @navbar-height;
		.navbar-header {
			height: 100%;
		}
		.navbar-brand {
			color: @navbar-color-logo;
			font-size: @navbar-fontsize;
			padding: 0;
			height: 100%;
			img {height: 60px;}
		}
	}

	.ui.button {
		.border-radius(6px);
		font-size: 12px;
		text-align:center;
	}




	