/* ==========================================================================
	 CARITATHELP

	 LESS Stylesheet
	 Created by Nicolas
	 ========================================================================== */

@import "variables";
@import "mixins";

@import "layout/with-cover";
@import "layout/default";
@import "layout/landing";

@import "modules/timeline";
@import "modules/navbar";
@import "modules/actions";
@import "modules/summary";
@import "modules/lists";

@import "modules/calendar";
@import "modules/login-register";
@import "modules/settings";
@import "modules/associations";

html, body {height: 100%;}
body {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	background-color: #E4F7DD;
}

//Headings
	h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
		margin:0;
		font-weight: 600;
		line-height: 1.2;
	}
	h4, .h4 {font-size: 1.3em;}
	h5, .h5 {font-size: 1.2em;}
//Reset bootstrap pour les icones collés aux inputs
	.input-group-addon {width: 36px;}
//Settings des liens
	a {
		color: inherit;
		text-decoration: inherit;
		&:focus, &:hover {
			color:@link-color;
			text-decoration: none;
			background: none;
			outline: none;
		}
	}
//reset des listes
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
//reset des containers bootstrap
	.container {
		width: 100%;
		@media (min-width: 544px) {max-width: 720px;}
		@media (min-width: 768px) {max-width: 900px;}
		@media (min-width: 992px) {max-width: 1140px;}
		@media (min-width: 1200px) {max-width: 1140px;}
	}
//reset labels
	 label {
			max-width: 100%;
			font-weight: bold;
	 }
img {max-width: 100%;}
.btn {&:focus, &:hover, &:active {outline:none;}}

//Bloc d'aide register form
	.help-block, .help-block p {margin-bottom: 0;}
//couleur texte message d'erreur register/login
	.has-error .control-label, .has-success .control-label {color: #333;}

//Wrapper pour toutes les pages sauf login/register
	.content-wrapper{
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-height: 100vh;
		padding-top: 50px;
		.main {padding-top: 2rem;}
	}

//cartes pour afficher les éléments
	.card {
		display: flex;
		flex-direction: column;
		padding: .75rem;
		border: 1px solid #D5E7CF;
		border-radius: @card-radius;
		.title {
			padding-bottom: .75rem;
			a:hover, a:active, a:focus {
				color: @link-color;
				text-decoration: underline;
			}
		}
	}
	.no-padding {padding:0;}

//Affichage des boutons
	.btn {
		padding: 6px 12px;
		line-height: 1.6;
	}
	.btn-primary {
		background-color: @button-color;
		border-color: @button-color;
		&:active,
		&:hover,
		&:focus {
			background-color: @button-hover;
			border-color: @button-hover;
		}
	}
	.btn-inversed {
		color: @button-color;
		background-color: #fff;
		border-color: @button-color;
		&:active,
		&:hover,
		&:focus {
			color: #fff;
			background-color: @button-hover;
		}
	}

.members-tab, .friends-tab {
	flex-wrap: wrap;
}
