.timeline__actu
	.actu__main(data-id="{{news.newsId}}")
		.actu__aside
			a.actu__picture(href="#")
				img(src="img/user3.png", alt="")
		.actu__body
			header.infos
				a.name(href="") {{news.username}}
				.time 25mn
			.actu__text {{news.content}}
			.actu__comments(ng-repeat="comment in news.comments")
				comment
	.actu__reply(ng-show="news.isReplying()")
		a.reply__picture(href="#")
			img(src="img/user2.png", alt="")
		.input-group
			input.form-control(
				type="text",
				placeholder="Poster un commentaire",
				ng-model="timeline.test")
			.input-group-btn
				button.btn
					i.fa.fa-play
