.timeline
	section.timeline__new
		.input-group
			input.form-control(type="text", placeholder="Publier un message")
			.input-group-btn
				button.btn
					i.fa.fa-play
	section.news
		news
	section.news(ng-repeat="actu in timeline.news")
		news(news-id="actu.id")
