.actu__comment
	a.comment__picture(href="#")
		img(src="img/user1.png", alt="")
	.comment__body
		header.infos
			a.name(href="#") Robin le moche
			.time 8 min
		.comment__text Vestibulum condimentum metus neque, ut elementum tellus venenatis sit amet.
