.actu--comment
	a.comment--picture(href="#/user/{{comment.user.id}}")
		img(ng-src="http://api.caritathelp.me{{comment.user.thumb_path}}", alt="{{comment.user.firstname}} {{comment.user.lastname}}")
	.comment--body
		header.infos
			a.name(href="#/user/{{comment.user.id}}") {{comment.user.firstname}} {{comment.user.lastname}}
			.time 8 min
		.comment--text {{comment.content}}
