.actu--comment
	a.comment--picture(href="#")
		img(src="img/user1.png", alt="")
	.comment--body
		header.infos
			a.name(href="#") Robin le moche
			.time 8 min
		.comment--text Vestibulum condimentum metus neque, ut elementum tellus venenatis sit amet.
