extends ../modalLayout

block header
	.ch-modal_title Inviter des amis
	button.ch-btn.--icon.--inverse.--tertiary(ng-click="dismiss()")
		i.fa.fa-times

block content
	section.friend(ng-repeat="friend in friends")
		a(ui-sref="profil.home({id:friend.id})")
			img.ch-avatar(ng-src="{{apiurl + friend.thumb_path}}", alt="{{friend.firstname}} {{friend.lastname}}")
		a(ui-sref="profil.home({id:friend.id})").friend--name {{friend.firstname}} {{friend.lastname}}
		button.ch-btn(ng-click="inviteFriend(friend.id)", id="invite-{{friend.id}}") Inviter
	div(ng-show="friends.length < 1")
		h2 Tous vos amis sont déjà membres de cette association !

block footer
	.ch-modal_footer-info
	.ch-modal_footer-actions
		button.ch-btn.--fail(ng-click="dismiss()") Fermer
