extends ../modalLayout

block header
	.ch-modal_title Inviter des membres de l'association
	button.ch-btn.--icon.--inverse.--tertiary(ng-click="modal.dismiss()")
		i.fa.fa-times

block content
	section.friend(ng-repeat="member in members")
		a(ui-sref="profil.home({id:member.id})")
			img.ch-avatar(ng-src="{{apiurl + member.thumb_path}}", alt="{{member.firstname}} {{member.lastname}}")
		a(ui-sref="profil.home({id:member.id})").friend--name {{member.firstname}} {{member.lastname}}
		button.ch-btn(ng-click="modal.invite(member.id)", id="invite-{{member.id}}") Inviter
	div(ng-show="members.length < 1")
		h2 Tous vos amis sont déjà membres de cette association !

block footer
	.ch-modal_footer-info
	.ch-modal_footer-actions
		button.ch-btn.--fail(ng-click="modal.dismiss()") Fermer
