extends ../modalLayout

block header
	.ch-modal_title Notifications
	button.ch-btn.--icon.--inverse.--tertiary.--pill(ng-click="modal.dismiss()")
		i.fa.fa-times

block content
	section.notification(ng-repeat="notif in notifs")
		a(ui-sref="profil.home({id:notif.sender_id})")
			img.ch-avatar(ng-src="{{apiurl + notif.sender_thumb_path}}", alt="{{notif.sender_name}}")

		//- Emergency
		.notification--body.ch-text(ng-if="notif.notif_type === 'Emergency'").
			#[a(ui-sref="profil.home({id:notif.sender_id})") {{notif.event_name}}]
			est en état d'urgence
		.notification--action(ng-if="notif.notif_type === 'Emergency'")
			a.ch-btn(ui-sref="event.home({id:notif.sender_id})") Voir l'évènement

		//- Nouveau membre
		.notification--body.ch-text(ng-if="notif.notif_type === 'NewMember'")
			a(ui-sref="profil.home({id:notif.sender_id})") {{notif.sender_name}}
			span a rejoint votre association
			a(ui-sref="association.home({id:notif.assoc_id})")
				img.ch-avatar(ng-src="{{apiurl + notif.receiver_thumb_path}}", alt="{{notif.assoc_name}}")
			a(ui-sref="association.home({id:notif.assoc_id})") {{notif.assoc_name}}
		.notification--actions(ng-if="notif.notif_type === 'NewMember'")
			button.ch-btn.--pill.--secondary(ng-click="read(notif.id)")
				i.fa.fa-check

		//- Invitation asso
		.notification--body.ch-text(ng-if="notif.notif_type === 'InviteAssoc'")
			a(ui-sref="profil.home({id:notif.sender_id})") {{notif.sender_name}}
			span vous a invité dans l'association
			a(ui-sref="associations.home({id:notif.assoc_id})")
				img.ch-avatar(ng-src="{{apiurl + notif.receiver_thumb_path}}", alt="{{notif.assoc_name}}")
			a(ui-sref="associations.home({id:notif.assoc_id})") {{notif.assoc_name}}
		.notification--actions(ng-if="notif.notif_type === 'InviteAssoc'")
			button.ch-btn.--pill.--secondary(ng-click="answerAsso(notif.id, true)")
				i.fa.fa-check
			button.ch-btn.--pill.--fail(ng-click="answerAsso(notif.id, false)")
				i.fa.fa-times
		//- Invitation event
		.notification--body.ch-text(ng-if="notif.notif_type === 'InviteGuest'")
			a(ui-sref="profil.home({id:notif.sender_id})") {{notif.sender_name}}
			span vous a invité à l'évènement
			a(ui-sref="event.home({id:notif.event_id})")
				img.ch-avatar(ng-src="{{apiurl + notif.receiver_thumb_path}}", alt="{{notif.event_name}}")
			a(ui-sref="event.home({id:notif.event_id})") {{notif.event_name}}
		.notification--actions(ng-if="notif.notif_type === 'InviteGuest'")
			button.ch-btn.--pill.--secondary(ng-click="answerEvent(notif.id, true)")
				i.fa.fa-check
			button.ch-btn.--pill.--fail(ng-click="answerEvent(notif.id, false)")
				i.fa.fa-times
		//- Ajout en ami
		.notification--body.ch-text(ng-if="notif.notif_type === 'AddFriend'")
			a(ui-sref="profil.home({id:notif.sender_id})") {{notif.sender_name}}
			span vous a ajouté à ses amis
		.notification--actions(ng-if="notif.notif_type === 'AddFriend'")
			button.ch-btn.--pill.--secondary(ng-click="answerFriend(notif.id, true)")
				i.fa.fa-check
			button.ch-btn.--pill.--fail(ng-click="answerFriend(notif.id, false)")
				i.fa.fa-times

		//- Rejoint event
		.notification--body.ch-text(ng-if="notif.notif_type === 'JoinEvent'")
			a(ui-sref="profil.home({id:notif.sender_id})") {{notif.sender_name}}
			span participe à votre'évènement
			a(ui-sref="event.home({id:notif.event_id})")
				img.ch-avatar(ng-src="{{apiurl + notif.receiver_thumb_path}}", alt="{{notif.event_name}}")
			a(ui-sref="event.home({id:notif.event_id})") {{notif.event_name}}
		.notification--actions(ng-if="notif.notif_type === 'JoinEvent'")
			button.ch-btn.--pill.--secondary(ng-click="read(notif.id)")
				i.fa.fa-check
		//- Rejoint asso
		.notification--body.ch-text(ng-if="notif.notif_type === 'JoinAssoc'")
			a(ui-sref="profil.home({id:notif.sender_id})") {{notif.sender_name}}
			span a rejoint votre association
			a(ui-sref="association.home({id:notif.assoc_id})")
				img.ch-avatar(ng-src="{{apiurl + notif.receiver_thumb_path}}", alt="{{notif.assoc_name}}")
			a(ui-sref="association.home({id:notif.assoc_id})") {{notif.assoc_name}}
		.notification--actions(ng-if="notif.notif_type === 'JoinAssoc'")
			button.ch-btn.--pill.--secondary(ng-click="read(notif.id)")
				i.fa.fa-check

		//- Default notif
		.notification--body(ng-if="notif.notif_type !== 'AddFriend' && notif.notif_type !== 'Emergency' && notif.notif_type !== 'NewMember' && notif.notif_type !== 'JoinAssoc' && notif.notif_type !== 'JoinEvent' && notif.notif_type !== 'InviteGuest' && notif.notif_type !== 'InviteAssoc' ") {{notif}}
		.notification--actions(ng-if="false")
			button.ch-btn(ng-click="answerFriend(notif.id, true)")
				i.fa.fa-check
			button.ch-btn.--fail(ng-click="answerFriend(notif.id, false)")
				i.fa.fa-times

	section.notification(ng-show="!notifs.length").
		Aucune notification récente



block footer
	.ch-modal_footer-info
	.ch-modal_footer-actions
		button.ch-btn.--fail(ng-click="modal.dismiss()") Fermer
