mixin confirmModal(id, title, message, fonction)
	.modal.fade(tabindex="-1", role="dialog", id="#{id}")
		.modal-dialog.modal-sm
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true")
							i.fa.fa-times
					.modal-title= title
				.modal-body
					.modal-text= message
				.modal-footer
					button.btn.btn-primary(ng-click="#{fonction}") Confirmer
					button.btn.btn-danger(type="button", data-dismiss="modal") Annuler

.asso-actions
	.action(ng-if="actions.asso.rights == 'none'")
		a(ng-click="actions.joinAsso()").
			#[i.fa.fa-plus]
			Rejoindre cette association
	.action(ng-if="actions.asso.rights == 'member' || actions.asso.rights == 'admin' || actions.asso.rights == 'owner'")
		a(ng-click="actions.inviteAsso()").
			#[i.fa.fa-user-plus]
			Inviter vos amis
	.action(ng-if="actions.asso.rights == 'admin' || actions.asso.rights == 'member'")
		a(ng-click="actions.showModal('leaveAsso')").
			#[i.fa.fa-minus]
			Quitter l'association
		+confirmModal(
			'leaveAsso',
			'Quitter l\'association',
			'Êtes vous sur de vouloir quitter l\'association {{actions.asso.name}} ?',
			'actions.leaveAsso()')
	.action(ng-if="actions.asso.rights == 'owner'")
		a(ng-click="actions.deleteAsso()").
			#[i.fa.fa-minus]
			Supprimer l'association
	.action(ng-if="actions.asso.rights == 'waiting'")
		a(ng-click="actions.showModal('cancelJoin')").
			#[i.fa.fa-minus]
			Annuler la demande
		+confirmModal(
			'cancelJoin',
			'Ne pas rejoindre',
			'Êtes vous sur de vouloir annuler votre demande pour rejoindre l\'association {{actions.asso.name}} ?',
			'actions.cancelJoin()')

	.modal.fade#confirmModal(tabindex="-1", role="dialog")
		.modal-dialog.modal-sm
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true")
							i.fa.fa-times
					.modal-title Confirmation
				.modal-body
					.modal-text#confirmModalMessage Salut les copains c'est trop bien!
				.modal-footer
					button.btn.btn-primary#confirmModalYes(ng-click="") Confirmer
					button.btn.btn-danger(type="button", data-dismiss="modal") Annuler
	.modal.fade#simpleModal(tabindex="-1", role="dialog")
		.modal-dialog.modal-sm
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true")
							i.fa.fa-times
					.modal-title Confirmation
				.modal-body
					.modal-text#confirmModalMessage Salut les copains c'est trop bien!
				.modal-footer
					button.btn.btn-primary(type="button", data-dismiss="modal") OK
