.ch-grid
	.ch-grid_col.--one-third_from-tablet
		.card
			h3.ch-card_header.ch-text.--mega.--bold Description
			.ch-text {{vm.asso.description}}

		//-Bloc d'informations latéral
		.rights.alert(ng-class="vm.rights.class") {{vm.rights.message}}
		//- Actions possibles pour l'utilisateur
		.asso-actions
			//- Rejoindre l'association
			.action(ng-if="!vm.asso.rights")
				a(ng-click="vm.joinAsso()").
					#[i.fa.fa-plus]
					Rejoindre cette association
			//- Inviter des utilisateurs
			.action(ng-if="vm.asso.rights == 'member' || vm.asso.rights == 'admin' || vm.asso.rights == 'owner'")
				a(ng-click="vm.openInvite()").
					#[i.fa.fa-user-plus]
					Inviter vos amis
			//- Quitter l'association
			.action(ng-if="vm.asso.rights == 'admin' || vm.asso.rights == 'member'")
				a(ng-click="vm.leaveAsso()").
					#[i.fa.fa-minus]
					Quitter l'association
	.ch-grid_col.--two-thirds_from-tablet
		//- Timeline de l'association
		timeline(tl-type="'association'")
