.timeline-tab
	.col-md-4
		.description
			header
				.description--title Description
			section
				.description--text {{vm.asso.description}}
		//-Bloc d'informations latéral
		.rights.alert(ng-class="vm.rights.class") {{vm.rights.message}}
		//- Actions possibles pour l'utilisateur
		.asso-actions
			//- Rejoindre l'association
			.action(ng-if="vm.asso.rights == 'none'")
				a(ng-click="vm.joinAsso()").
					#[i.fa.fa-plus]
					Rejoindre cette association
			//- Inviter des utilisateurs
			.action(ng-if="vm.asso.rights == 'member' || vm.asso.rights == 'admin' || vm.asso.rights == 'owner'")
				a(ng-click="vm.inviteAsso()").
					#[i.fa.fa-user-plus]
					Inviter vos amis
			//- Quitter l'association
			.action(ng-if="vm.asso.rights == 'admin' || vm.asso.rights == 'member'")
				a(ng-click="vm.leaveAsso()").
					#[i.fa.fa-minus]
					Quitter l'association
			//- Supprimer l'association
			.action(ng-if="vm.asso.rights == 'owner'")
				a(ng-click="vm.deleteAsso()").
					#[i.fa.fa-minus]
					Supprimer l'association
	.col-md-8
		//- Timeline de l'association
		timeline(tl-type="'association'")
