.ch-grid
	.ch-grid_col.--one-third_from-tablet
		.card
			h3.ch-card_header.ch-text.--mega.--bold Description
			.ch-text {{vm.event.description}}
			.ch-card_footer.ch-text.--secondary.--micro.
					Organisé par l'association
					#[a(ui-sref="association.home({id: vm.event.assoc_id})") {{vm.event.assoc_name}}]

		//-Bloc d'informations latéral
		.rights.alert(ng-class="vm.rights.class") {{vm.rights.message}}
		//- Actions possibles pour l'utilisateur
		.event-actions
			//-Rejoindre l'event
			.action(ng-if="vm.event.rights == 'members'")
				a(ng-click="vm.joinEvent()").
					#[i.fa.fa-check]
					Vous participez à cet évenement
			//- Invité
			.action(ng-if="vm.event.rights == 'invited'")
				a(ng-click="vm.joinEvent()").
					#[i.fa.fa-check]
					Vous avez été invité à cet évenement
			//- Non membre
			.action(ng-if="!vm.event.rights")
				a(ng-click="vm.joinEvent()").
					#[i.fa.fa-plus]
					Participer à cet évenement
			//- Inviter des utilisateurs
			.action(ng-if="vm.event.rights == 'member' || vm.event.rights == 'admin' || vm.event.rights == 'host'")
				a(ng-click="vm.openInvite()").
					#[i.fa.fa-user-plus]
					Inviter vos amis
			//- Quitter l'event
			.action(ng-if="vm.event.rights == 'admin' || vm.event.rights == 'member'")
				a(ng-click="vm.leaveEvent()").
					#[i.fa.fa-minus]
					Quitter l'évènement
		.alert.alert-danger(ng-if="vm.error", ng-bind-html="vm.error")
	.ch-grid_col.--two-thirds_from-tablet
		timeline(tl-type="'event'")
