.timeline-tab
	.col-md-4
		.description
			header
				.description--title Description par l'hôte
			section
				.description--text {{vm.event.description}}
			footer
				.description--host.
					Organisé par l'association
					#[a(ui-sref="association.home({id: vm.event.assoc_id})") {{vm.event.assoc_name}}]
		//-Bloc d'informations latéral
		.rights.alert(ng-class="vm.rights.class") {{vm.rights.message}}
		//- Actions possibles pour l'utilisateur
		.event-actions
			//-Rejoindre l'event
			.action(ng-if="vm.event.rights == 'members'")
				a(ng-click="vm.joinEvent()").
					#[i.fa.fa-check]
					Vous participez à cet évenement
			//- Invité
			.action(ng-if="vm.event.rights == 'invited'")
				a(ng-click="vm.joinEvent()").
					#[i.fa.fa-check]
					Vous avez été invité à cet évenement
			//- Non membre
			.action(ng-if="vm.event.rights == 'none'")
				a(ng-click="vm.joinEvent()").
					#[i.fa.fa-plus]
					Participer à cet évenement
			//- Inviter des utilisateurs
			.action(ng-if="vm.event.rights == 'member' || vm.event.rights == 'admin' || vm.event.rights == 'owner'")
				a(ng-click="vm.openInvite()").
					#[i.fa.fa-user-plus]
					Inviter vos amis
			//- Quitter l'event
			.action(ng-if="vm.event.rights == 'admin' || vm.event.rights == 'member'")
				a(ng-click="vm.leaveEvent()").
					#[i.fa.fa-minus]
					Quitter l'évènement
			//- Supprimer l'event
			.action(ng-if="vm.event.rights == 'owner'")
				a(ng-click="vm.deleteEvent()").
					#[i.fa.fa-minus]
					Supprimer l'évènement
		.alert.alert-danger(ng-if="vm.error", ng-bind-html="vm.error")
	.col-md-8
		timeline(tl-type="'event'")

script(type="text/ng-template", id="inviteFriendsModal.html")
	.modal--friends
		.modal-header
			h3.modal-title Inviter des membres de l'association
		.modal-body
			section.friend(ng-repeat="member in members")
				a(ui-sref="profil.home({id:member.id})")
					img(ng-src="http://api.caritathelp.me{{member.thumb_path}}", alt="{{member.firstname}} {{member.lastname}}")
				a(ui-sref="profil.home({id:member.id})").friend--name {{member.firstname}} {{member.lastname}}
				bouton.btn.btn-primary(ng-click="invite(member.id)") Inviter
		.modal-footer
			btn.pull-right.btn.btn-danger(ng-click="closeInvite()") Fermer
