.ch-grid
	.ch-grid_col.--one-third_from-tablet
		.actions--user
			.action(ng-if="vm.asso.rights == 'host' || vm.asso.rights == 'admin'")
				a(ui-sref="shelter.home").
					#[i.fa.fa-eraser]
					Annuler l'édition
		shelters-list(asso-id="vm.shelter.assoc_id")
	.ch-grid_col.--two-thirds_from-tablet
		.card
			h2.ch-text.--mega Informations
			hr
			br
			div
				.ch-text.--bold.--inline Adresse :
				.ch-text.--inline {{ vm.shelter.address }}
			div
				.ch-text.--bold.--inline Ville :
				.ch-text.--inline {{ vm.shelter.city }}
			div
				.ch-text.--bold.--inline Code postal :
				.ch-text.--inline {{ vm.shelter.zipcode }}
			div
				.ch-text.--bold.--inline Nombre de places :
				.ch-text.--inline {{ vm.shelter.total_places }}
			div
				.ch-text.--bold.--inline Places disponibles :
				.ch-text.--inline {{ vm.shelter.free_places }}
			div(ng-if="vm.shelter.description")
				.ch-text.--bold.--inline Description :
				.ch-text.--inline {{ vm.shelter.description }}
			br
		.card(ng-if="vm.shelter.phone || vm.shelter.mail")
			h2.ch-text.--kilo Contact
			hr
			br
			div(ng-if="vm.shelter.phone")
				.ch-text.--bold.--inline Téléphone :
				.ch-text.--inline {{ vm.shelter.phone }}
			div(ng-if="vm.shelter.mail")
				.ch-text.--bold.--inline Email :
				.ch-text.--inline {{ vm.shelter.mail }}
		.card(ng-if="vm.asso")
			h2.ch-text.--kilo.
				Géré par l'association
				#[a(ui-sref="association.home({id:vm.shelter.assoc_id})") {{ vm.asso.name }}]
