.friends-tab
	.col-md-3(ng-repeat="friend in vm.user.friends")
		user-summary(user-id="friend.id")
	.col-md-6.col-md-push-3(ng-if="!vm.user.friends.length && vm.isCurrent")
		.card Vous n'avez pas encore d'amis ! Utilisez la barre de recherche pour en retrouver.
