.ch-grid(ng-class="{'--centered': !vm.user.assos.length}")
	.ch-grid_col.--one-third_from-tablet(ng-repeat="asso in vm.user.assos")
		.card.summary
			a.summary--picture(ui-sref="association.home({id: {{asso.id}}})")
				img.picture(ng-src="{{vm.apiurl + asso.thumb_path}}", alt="{{asso.name}}")
			a.summary-name(ui-sref="association.home({id: {{asso.id}}})") {{asso.name}}
			.summary--stats
				a.stat.
					Location
					#[h5.nb {{asso.city}}]
				a.stat(ui-sref="association.members({id:{{asso.id}}})").
					Membres
					#[h5.nb {{asso.nb_members}}]
	.ch-grid_col.--two-thirds_from-tablet(ng-if="!vm.user.assos.length && vm.isCurrent")
		.card Vous n'êtes pas encore membre d'une association ! Utilisez la barre de recherche pour en retrouver.
	.ch-grid_col.--two-thirds_from-tablet(ng-if="!vm.user.assos.length && !vm.isCurrent")
		.card Cet utilisateur n'est encore membre d'aucune association !
