.ch-btn {
	position: relative;
	border-radius: 3px;
	background: @primary-color;
	color: @accent-color;
	padding: .5em 1.3em;
	line-height: 1.5em;
	transition: all .15s ease-in-out;
	font-weight: 300;
	border: 0;
	margin: 0;
	cursor: pointer;
	text-align: center;
	-webkit-appearance: none;
	&:focus {outline: none;}
	&:hover {background: @primary-hover;}
	&:active {background: @primary-active;}
	&:disabled {background: @tertiary-color; cursor: not-allowed;}
	&.\--large {font-size: 1.6rem;}
	&.\--full {display: block; width: 100%;}
	.fa {
		font-size: 1em;
		line-height: 1.5em;
		display: inline;
		height: auto;
		width: auto;
		padding-right: .2em;
		vertical-align: baseline;
	}
	&.\--inverse {
		background: @accent-color;
		color: @primary-color;
		&:hover {color: @accent-color;background: @primary-hover;}
		&:active {color: @primary-color; background: @primary-focus;}
	}
	&.\--button-input {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: -1px;
		flex-shrink: 0;
		@media (max-width: 767px) {width: 100%; border-radius: 3px; text-align: center;}
	}
	&.\--success {
		color: @accent-color;
		background: @success-color;
		&:hover {background: @success-hover;}
		&:active {background: @success-active;}
	}
	&.\--fail {
		color: @accent-color;
		background: @error-color;
		&:hover {background: @error-hover;}
		&:active {background: @error-active;}
	}
	&.\--secondary {
		color: @primary-color;
		box-shadow: inset 0 0 0 1px @primary-color;
		background: none;
		&:hover {background: @primary-color; color: @accent-color;}
		&:active {background: @primary-active; color: @accent-color; box-shadow: inset 1 1 4px @primary-active;}
		&.\--inverse {
			color: @accent-color;
			background: transparent;
			box-shadow: inset 1 1 4px @accent-color;
			&:hover {color: @primary-hover; background: @accent-color;}
			&:active {color: @primary-color; background: @primary-focus;}
		}
		&.\--fail {
			color: @error-color;
			box-shadow: inset 0 0 0 1px @error-color;
			&:hover {background: @error-color; color: @accent-color;}
			&:active {background: @error-active; color: @accent-color; box-shadow: inset 0 0 0 1px @error-active;}
		}
	}
	&.\--tertiary {
		color: @tertiary-active;
		box-shadow: inset 0 0 0 1px @tertiary-color;
		background: none;
		&:hover {background: @tertiary-color; color: @accent-color;}
		&:active {background: @tertiary-active; color: @accent-color; box-shadow: inset 0 0 0 1px @tertiary-active;}
		&.\--inverse {
			color: @accent-color;
			box-shadow: inset 0 0 0 1px @accent-color;
			background: transparent;
			&:hover {color: @primary-hover; background: @accent-color;}
			&:active {color: @primary-color; background: @primary-focus;}
		}
	}
	&.\--pill {
		font-size: 1.2em;
		border-radius: 25px;
		box-shadow: inset 0 0 0 1px @tertiary-color;
		background: @accent-color;
		color: @tertiary-active;
		&:hover {color: @accent-color; background: @tertiary-color;}
		&:active {color: @accent-color; background: @tertiary-active; box-shadow: inset 0 0 0 1px @tertiary-active;}
	}
}

