.card.listing
	.card--title Associsson
	.associations
		.association(ng-repeat="asso in list.assos")
			a(ui-sref="association.home({id:{{asso.id}}})", title="{{asso.name}}")
				img.asso--img(ng-if="!asso.thumb_path" src="img/mlp.jpg", class="img-circle")
				img.asso--img(ng-if="asso.thumb_path", ng-src="http://api.caritathelp.me{{asso.thumb_path}}", alt="{{asso.name}}", class="img-circle")
			a.name(ui-sref="association.home({id:{{asso.id}}})") {{asso.name}}
