.card.summary.no-padding
	.cover(style="background-image:url(img/cover/skyline.jpg)")
	a(href="{{cusc.link}}")
		img.img-circle.img-thumbnail.picture(src="img/robert.png", alt="")
	h3.name
		a.link(href="{{cusc.link}}") {{cusc.user.firstname}} {{cusc.user.lastname}}
	.stats
		a.stat(href="#friendsModal", data-toggle="modal", ng-if="cusc.user.city").
			Location
			#[h5.nb {{cusc.user.city}}]
		a.stat(href="#friendsModal", data-toggle="modal").
			Amis
			#[h5.nb {{cusc.user.friends.length}}]
		a.stat(href="#associationsModal", data-toggle="modal").
			Assos
			#[h5.nb {{cusc.user.assos.length}}]
