.card.summary.no-padding
	.summary--cover(style="background-image:url(img/cover/skyline.jpg)")
	a.summary--picture(href="{{cusc.link}}")
		img(src="img/user2.png", alt="{{cusc.user.firstname}} {{cusc.user.lastname}}")
	a.summary--name(href="{{cusc.link}}") {{cusc.user.firstname}} {{cusc.user.lastname}}
	.summary--stats
		a.stat(href="#friendsModal", data-toggle="modal", ng-if="cusc.user.city").
			Location
			#[h5.nb {{cusc.user.city}}]
		a.stat(href="{{cusc.link}}", data-toggle="modal").
			Amis
			#[h5.nb {{cusc.user.friends.length}}]
		a.stat(href="{{cusc.link}}", data-toggle="modal").
			Assos
			#[h5.nb {{cusc.user.assos.length}}]
