.card.summary.no-padding
	.summary--cover(style="background-color:green")
	a.summary--picture(ui-sref="{{sum.plink}}")
		img.picture(ng-src="{{sum.user.picture}}", alt="{{sum.user.firstname}} {{sum.user.lastname}}")
	a.summary--name(ui-sref="{{sum.plink}}") {{sum.user.firstname}} {{sum.user.lastname}}
	.summary--stats
		a.stat(href="#", ng-if="sum.user.city").
			Location
			#[h5.nb {{sum.user.city}}]
		a.stat(ui-sref="{{sum.flink}}").
			Amis
			#[h5.nb {{sum.user.friends.length}}]
		a.stat(ui-sref="{{sum.alink}}").
			Assos
			#[h5.nb {{sum.user.assos.length}}]
