.ch-grid_col.--one-third_from-tablet
	.card.calendar--nav
		h5.title Calendrier
		.text-list
			.link(ng-if="calendar.type == 'volunteer'", ng-class="{active:calendar.isSet(1)}")
				i.fa.fa-calendar-check-o
				a(ng-click="calendar.setTab(1)") Evènements en cours
			.link(ng-if="calendar.type != 'volunteer' || calendar.isCurrent", ng-class="{active:calendar.isSet(2)}")
				i.fa.fa-calendar
				a(ng-click="calendar.setTab(2)") Tous les évènements
			.link(ng-if="calendar.type == 'association' && calendar.rights == 'edit'", ng-class="{active:calendar.isSet(3)}")
				i.fa.fa-calendar-plus-o
				a(ng-click="calendar.setTab(3)") Créer un évenement
.ch-grid_col.--two-thirds_from-tablet
	.calendar--main(ng-show="calendar.loaded")
		//-Affichage de l'ensemble des évenements auxquels l'utilisateur peut participer
		.calendar--all(ng-show="calendar.isSet(2)")
			h4.title Tous les évènements
			//-Affichage d'un évenement
			.card.event(ng-repeat="event in calendar.events")
				header
					h6.event--title {{event.title}}
					.event--creator Organisé par <a ui-sref="association.home({id:{{event.assoc_id}}})">{{event.assoc_name}}</a>
				section.
					Du {{event.begin}} au {{event.end}}<br>
					Lieu: {{event.place}}<br>
					{{event.nb_guest}} participants, dont <strong>{{event.nb_friends_members}}</strong> amis
				footer
					.event--status(ng-if="event.rights == 'admin'") Vous êtes administrateur de cet évènement
					.event--status(ng-if="event.rights == 'host'") Vous êtes le créateur de cet évènement
					.event--status(ng-if="event.rights == 'member'") Vous participez à cet évènement
					.event--status(ng-if="event.rights == 'none'") Vous ne participez pas à cet évènement
					a.btn.btn-small.btn-primary(ui-sref="event.home({id:{{event.id}}})").
						#[.fa.fa-info-circle]
						Plus d'informations
			.alert.alert-info(ng-if="!calendar.events.length") Aucun évènement organisé actuellement.

		//- Evenements auxquels l'utilisateur participer
		.calendar--joined(ng-if="calendar.type == 'volunteer'", ng-show="calendar.isSet(1)")
			h4.title Participation
			//-Affichage d'un évenement (même que le précédent)
			.card.event(ng-repeat="event in calendar.joined")
				header
					h6.event--title {{event.title}}
					.event--creator Organisé par <a ui-sref="association.home({id:{{event.assoc_id}}})">{{event.assoc_name}}</a>
				section.
					Du {{event.begin}} au {{event.end}}<br>
					Lieu: {{event.place}}<br>
					{{event.nb_guest}} participants, dont <strong>{{event.nb_friends_members}}</strong> amis
				footer
					.event--status(ng-if="event.rights == 'admin'") Vous êtes administrateur de cet évènement
					.event--status(ng-if="event.rights == 'host'") Vous êtes le créateur de cet évènement
					.event--status(ng-if="event.rights == 'member'") Vous participez à cet évènement
					.event--status(ng-if="event.rights == 'none'") Vous ne participez pas à cet évènement
					a.btn.btn-small.btn-primary(ui-sref="event.home({id:{{event.id}}})").
						#[.fa.fa-info-circle]
						Plus d'informations
			.alert.alert-info(ng-if="!calendar.joined.length") Vous ne participez à aucun évènement actuellement.
		//- Creation d'un évenement
		.calendar--create(ng-if="calendar.type == 'association' && calendar.rights == 'edit'", ng-show="calendar.isSet(3)")
			event-create(asso="calendar.id")

	.calendar--loader(ng-show="!calendar.loaded")
		i.fa.fa-spin.fa-refresh
		.loader--info Chargement du calendrier
