.tile.col-sm-10.col-sm-push-1
	section.col-sm-6.col-xs-12.inscription(ng-controller="RegisterController as register")
		form.clearfix(novalidate, name="registerForm", ng-submit="register.Register()")
			h1.text-center Enregistrez-vous
			fieldset.col-sm-6.form-group#userFirstName
				.input-group
					span.input-group-addon
						i.fa.fa-user
					input.form-control#inputFirstName(type="text", name="inputName", placeholder="Prénom", ng-model="register.firstname", required)
			fieldset.col-sm-6.form-group#userLastName
				.input-group
					span.input-group-addon
						i.fa.fa-user
					input.form-control#inputLastName(type="text", name="inputLastName", placeholder="Nom", ng-model="register.lastname", required)
			fieldset.col-sm-12.form-group#userEmail
				.input-group
					span.input-group-addon
						i.fa.fa-envelope
					input.form-control#inputEmail(type="email", name="inputEmail", placeholder="Email", ng-model="register.email", required)
			fieldset.col-sm-12.form-group#userPassword
				.input-group
					span.input-group-addon
						i.fa.fa-lock
					input.form-control#inputPassword(type="password", name="inputPassword", placeholder="Mot de passe", ng-model="register.password", required)
			fieldset.col-sm-12.form-group#userConfirmation
				.input-group
					span.input-group-addon
						i.fa.fa-lock
					input.form-control#inputConfirmation(type="password", name="inputConfirmPassword", placeholder="Confimation Mot de passe", ng-model="register.confirmPassword", required)
			fieldset.col-sm-12.form-group#userNaissance
				.input-group
					span.input-group-addon
						i.fa.fa-calendar
					select#selectJour.form-control(title="Jour")
						option(value="0") Jour
						option(value="1") 1
						option(value="2") 2
						option(value="3") 3
						option(value="4") 4
						option(value="5") 5
						option(value="6") 6
						option(value="7") 7
					select#selectMois.form-control(title="Mois")
						option(value="0") Mois
						option(value="1") Janvier
						option(value="2") février
						option(value="3") Mars
						option(value="4") Avril
						option(value="5") Mai
						option(value="6") Juin
						option(value="7") Juillet
						option(value="8") Aout
						option(value="9") Septembre
						option(value="10") Octobre
						option(value="11") Novembre
						option(value="12") Décembre
					select#selectAnnee.form-control(data-live-search="true", title="Année")
						option(value="0") Année
						option(value="1990") 1990
						option(value="1991") 1991
						option(value="1992") 1992
						option(value="1993") 1993
						option(value="1994") 1994
						option(value="1995") 1995
			fieldset.col-sm-8.form-group
				.input-group
					#radioGender.btn-group
						a#radioGender2.btn.btn-success.btn-sm.active(data-toggle="inputGender", data-title="Homme", ng-model='register.radioGender')
							b.fa.fa-mars
						a#radioGender3.btn.btn-success.btn-sm.notActive(data-toggle="inputGender", data-title="Femme", ng-model='register.radioGender2')
							b.fa.fa-venus
			.pull-right.text-center#submitLogin
				button.ui.green.inverted.button(type="submit") Inscription	

	section.col-sm-6.col-xs-12.connexion(ng-controller="LoginController as login")
		form.clearfix(novalidate, name="loginForm", ng-submit="login.SignIn()")
			h1.text-center Connectez vous
			div.alert.alert-danger(role="alert", ng-show="login.error") {{login.errorMessage}}
			fieldset.col-sm-12.form-group#userEmail
				.input-group
					span.input-group-addon
						i.fa.fa-envelope
					input.form-control#inputEmail(type="email", name="inputEmail", placeholder="Email", required, ng-model="login.mail")
				p.help-block(ng-show="loginForm.$submitted || loginForm.inputEmail.$touched") Votre adresse e-mail doit être valide
			fieldset.col-sm-12.form-group#userPassword
				.input-group
					span.input-group-addon
						i.fa.fa-lock
					input.form-control#inputPassword(type="password", name="inputPassword", placeholder="Mot de passe", required, ng-model="login.password", min="6")
				p.help-block(ng-show="loginForm.inputPassword.$error.min") Votre mot de passe doit avoir plus de 6 caractères
			.text-center.pull-right#submitRegister
				button.ui.green.inverted.button#default(type="submit") Connexion
		hr
		button.ui.blue.inverted.button Connexion avec Facebook
		form(ng-show="login.connected", ng-submit="register.SignOut()")
			.text-center
				h2 Bienvenue
			.list-group
				.list-group-item(ng-repeat="user in register.userList")
					h4.list-group-item-heading {{user.name}}
						.small {{'User ' + user.id}}
					p.list-group-item-text mail: {{user.mail}}
			.text-right
				a.ui.green.inverted.button(ng-click="login.SignOut()") DeConnexion
			br
	.clearfix