.summary {
	text-align: center;
}
.summary--cover {
	height: 10em;
	background-size: cover;
	border-top-right-radius: @card-radius;
	border-top-left-radius: @card-radius;
}
.summary--picture {
	z-index: 2;
	padding-bottom: .5em;
	img:extend(.img-rounded) {
		width: 8em;
		height: 8em;
		max-height: 8em;
		margin-top: -20%;
	}
}
.summary--name {
	padding-bottom: .5em;
	font-size: 1.5em;
	font-weight: 600;
	line-height: 1.2;
}
.summary--stats {
	display: flex;
	justify-content: center;
	padding-bottom: .5em;
	.stat {
		padding: 0 .5em;
		border-right: 1px solid @card-border;
		&:last-child {border-right: none;}
	}
	.nb {margin:0;}
}
