.calendar {
	padding: .9375rem;
	display: flex;
	flex-wrap: wrap;
	.day {
		margin: .5rem;
		width: 100%;
		&:not(.name) {
			min-height: 100px;
			padding: .3rem .5rem;
		}
		&.name {
			text-align: center;
			color: #f5f5f5;
			background-color: #53A634;
		}
		&.disabled {
			background-color: #ddd;
			border: 1px solid #c1c1c1;
		}
	}
	table {width: 100%;}
	tr {display: flex;}
}