/*
**
**	Description profil Asso/Event
**
*/
.description:extend(.card) {}

.description--title {
	padding-bottom: .125em;
	margin-bottom: .375em;
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 1px solid #d4dbe0;
}

.description--text {

}

/*
**
**	Droits Asso/Event
**
*/
