/*
**
**	Description profil Asso/Event
**
*/
.description:extend(.card) {
  a:hover {
	cursor: pointer;
  }
}

.description--title {
	padding-bottom: .125em;
	margin-bottom: .375em;
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 1px solid #d4dbe0;
}

.description--text {
	padding: 1em 0;
}

.description--host {
  padding-top: .375em;
  margin-top: .125em;
  font-size: .9em;
  border-top: 1px solid #d4dbe0;
}

/*
**
**	Droits Asso/Event
**
*/
/* USER PROFILE PAGE */
.profil--cover {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1em 0;
  overflow: hidden;
  background-color: #fff;
	.pcover--background {
		position: absolute;
		z-index: 0;
		width: 100%;
	  img {
		  min-width: 130%;
		  margin-top: -200px;
		  margin-left: -100px;
		  filter: blur(25px);
		}
	}
	.pcover--avatar {
	  position: relative;
	  img {
		  width: 8em;
		  height: 8em;
		  background-color: #fff;
		  border: 2px solid rgba(150, 150, 150, 0.5);
		  border-radius: 50%;
		}
	}
	.pcover--name {
	  z-index: 1;
		padding-top: .5em;
	  color: #737373;
	}
	.pcover--title {
	  padding: 0 3px;
	  font-size: 1.7em;
	  line-height: 1;
	  color: #262626;
	  background-color: rgba(255, 255, 255, 0.1);
	}
}
.bshovercard .bsbottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
.btn-pref {
	display: flex;
	&>.btn-group {
		flex-grow: 1;
	}
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 1em 0;
		font-size: 1.1em;
		i {padding-right: .75em;}
	}
}
.btn-pref .btn {
  -webkit-border-radius:0 !important;
}

