.friends, .assos {
	display: flex;
	flex-wrap: wrap;
}

.text-list {
	display: flex;
	flex-direction: column;
	font-size: 1.1em;
	.link	{
		display: flex;
		align-items: center;
		line-height: 1.8;
		cursor: pointer;
		&:hover i {color: @link-color;}
		i {
			width: 1.2em;
			margin-right: .5em;
			font-size: 1.2em;
			color: #9da9b0;
			text-align: center;
		}
	}
}

.listing {
	.friend, .association, .event {
		display: flex;
		align-items: center;
		.name {
			flex-grow: 1;
			padding: 0 1em;
			font-size: 1.2em;
			font-weight: bold;
		}
		img {
			width: 4em;
			max-height: 4em;
		}
	}
}
