.modal-dialog {
	margin-top: 15%;
}
.modal-header {
	padding: .5em;
	font-size: 1.1em;
	font-weight: bold;
	color: @button-text;
	background-color: @button-color;
	border-color: @button-border;
}
.modal-body {
	padding: .5em 1em;
}
.modal-footer {
	padding: .5em;
	margin-top: 1.5em;
	border: none;
	.btn {
		padding: 0 .5em;
		font-size: 1em;
		line-height: 1.5;
	}
}
