.app-navbar {
	.container {display: flex;}
	right: 0;
	left: 0;
	position: fixed;
	z-index: 1000;
	min-height: 50px;
	border-bottom: 1px solid transparent;
	border-color: @navbar-border;
	background: @navbar-green;
	.navbar-logo {
		margin-right: 15px;
		margin-top: -1px;
		.navbar-toggle {display: none;}
		a {display: block;}
		img {height: 50px;}
	}
	.navbar-menu {
		flex-grow: 1;
		display: flex;
		.navbar-left {flex-grow: 1;}
		.navbar-right {
			display: flex;
			align-items: center;
		}
		ul.nav {
			display: flex;
			align-items: center;
			> li {
				&.active a{color: @navbar-hover;}
				> a {
					font-size: 16px;
					color: @navbar-text;
					padding: 16px 15px;
					&:focus, &:hover {
						color: @navbar-hover;
						background-color: transparent;
					}
					&.linkon {
						adding: 12px 15px;
						font-size: 22px;
					}
				}
			}
		}
		.search-bar {
		}
		.avatar {
			padding: 0;
			border: 0;
			background: transparent;
			margin: 7px 0;
			cursor: pointer;
			img {
				height: 40px;
			}
		}
	}
}