
.app-navbar {
  min-height: 50px;
  margin-bottom: 0;
  border: 1px solid transparent;
	background: #53A634;
	border-color: #30A01C;
	top: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	border-width: 0 0 1px;
	height: 50px;
	li {
		&.active a {
			color: #fff;
		}
		a {
			font-size: 16px;
			color: rgba(255, 255, 255, 0.8);
			&:focus, &:hover {
				color: #fff;
				background-color: transparent;
			}
			&.linkon {padding: 12px 15px;}
		}
		.fa {font-size: 22px;}
	}
	.container {display: flex;}
	.navbar-logo {
		margin-right: 15px;
		margin-top: -1px;
		.navbar-toggle {display: none;}
		a {display: block;}
		img {height: 50px;}
	}
	.navbar-menu {
		flex-grow: 1;
		.navbar-right {
			float: right;
			display: flex;
			align-items: center;
		}
	}
	.search-bar {
		width: auto;
		border: 0;
		box-shadow: none;
		.search-input {
			@media (min-width: 768px) {
				display: inline-block;
				margin-bottom: 0;
				vertical-align: middle;
			}
		}
	}
}
