.profil-display {
	background: none;
	position: relative;
	.background {
		background: url(../img/cover/skyline.jpg);
		background-size: cover;
		background-position-y: 80%;
		.abso-center();
	}
	.infos {
		text-align: center;
		filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
		text-shadow: 1px 1px #000;
    color: #fff;
		.name {margin-top: 20px;}
		p {font-size: 16px}
		.picture {
			@media(min-width: 768px) {width: 110px;}
		}
	}
	.profil-nav {
		right: 0;
		left: 0;
		bottom: 0;
		position: absolute;
		ul {
			display: flex;
			justify-content: center;
		}
	}
}
[".*-tab"] {
	display: flex;
	min-height: 50vh;
	padding: .9375rem;
}

.settings-tab {
	.settings-sidebar {
		flex-grow: 1;
		border-right: 1px solid #c1c1c1;
	}
}

@import "calendar";