.recommendations {
	.friend, .asso {
		display: flex;
		margin-bottom: 1rem;
		.avatar img {
			width: 60px;
		}
		.infos {
			flex-grow: 1;
			padding-left: .75rem;
			.name {
				font-weight: bold;
				padding-bottom: .2rem;
			}
			.btn {
				padding: 5px 10px;
				line-height: 1.5;
				font-size: .9em;
			}
		}
	}
}