.currentUser {
	margin-bottom: 30px !important;
	text-align: center;
	.cover {
		height: 150px;
		background-size: cover;
		padding: 10px 1rem;
		border-bottom: 1px solid transparent;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
	}
	.name {
		margin-bottom: 5px;
		font-size: 16px;
		margin-top: 0;
	}
	.picture {
		max-width: 100px;
		margin-top: -70px;
		margin-bottom: 5px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	}
	.text {
		margin-bottom: 30px;
	}
	.stats {
		list-style: none;
		padding: 0;
	}
	.stat {
		display: inline-block;
		padding: 0 10px;
		border-right: 1px solid #d4dbe0;
		&:last-child {
			border-right: none;
		}
	}
	.nb {margin:0;}
}