.timeline {
	&.card{
		border:none;
		background-color: transparent;
		.element {
			background-color: #fff;
			margin-bottom: 1rem;
		}
	}
	.input-group {
		display: flex;
		input {
			flex-grow: 1;
			float: none;
			width: auto;
		}
		.input-group-btn {
			width: auto;
			display: block;
			&:focus{outline: none;}
			.btn {height: 36px;}
		}
	}
	.btn {
		color: #536570;
		background-color: #ffffff;
		border-color: #d4dbe0;
		&:hover, &:focus, &:active {
			color: #536570;
			background-color: #e6e6e6;
			border-color: #b0bdc6;
			text-decoration: none;
		}
	}
	.element {
		padding: .9375rem;
		margin-bottom: -1px; //fix pour la bordure collapsed
		border: 1px solid #d3e0e9;
		.post {
			display: flex;
			.avatar img {
				min-width: 60px;
				max-width: 60px;
				border-radius: 50%;
			}
			.body {
				padding-left: 1rem;
				flex-grow: 1;
				.infos {
					display: flex;
					margin-bottom: .25rem;
					.name {flex-grow: 1;}
					.time {
						color: #9da9b0;
						margin-top: -.5rem;
					}
				}
				p {
					margin: 0;
					line-height: 1.4;
				}
			}
		}
		.comments {
			margin-top: .5rem;
			padding-top: .5rem;
			.comment {
				border-top: 1px solid #d4dbe0;
				display: flex;
				padding: .5rem 0;
				.avatar img {
					min-width: 45px;
					max-width: 45px;
				}
			}
		}
		footer {
			margin: .9375rem -.9375rem -.9375rem;
			padding: .9375rem;
			background-color: #EFEBEB;
			display: flex;
			align-items: center;
			.avatar img {
				min-width: 45px;
				max-width: 45px;
				border-radius: 50%;
			}
			.input-group {
				padding-left: 1em;
				flex-grow: 1;
			}
		}
	}
}