.timeline {
	&.card{border:none;}
	.element {
		padding: .9375rem;
		margin-bottom: -1px; //fix pour la bordure collapsed
		border: 1px solid #d3e0e9;
		&:first-child {
			border-top-right-radius: @card-radius;
			border-top-left-radius: @card-radius;
		}
		&.new {
			// Fix for bootstrap input-group using flexbox
			.input-group {
				display: flex;
				input {
					flex-grow: 1;
					float: none;
					width: auto;
				}
				.input-group-btn {
					width: auto;
					display: block;
					&:focus{outline: none;}
					.btn {height: 36px;}
				}
			}
			.btn {
				color: #536570;
				background-color: #ffffff;
				border-color: #d4dbe0;
				&:hover, &:focus, &:active {
					color: #536570;
					background-color: #e6e6e6;
					border-color: #b0bdc6;
					text-decoration: none;
				}
			}
		}
		&.post {
			display: flex;
			.avatar img {
				width: 4rem;
				border-radius: 50%;
			}
			.body {
				padding-left: .5rem;
				flex-grow: 1;
				.infos {
					display: flex;
					margin-bottom: .25rem;
					.name {flex-grow: 1;}
					.time {
						color: #9da9b0;
						margin-top: -.5rem;
					}
				}
				p {
					margin: 0;
					line-height: 1.4;
				}
			}
		}
		.comments {
			margin-top: .5rem;
			border-top: 1px solid #d4dbe0;
			padding-top: .5rem;
			.comment:not(:last-child) .body {
				border-bottom: 1px solid #d4dbe0;
				padding-bottom: .5rem;
			}
			.comment {
				display: flex;
				margin-bottom: .5rem;
				.avatar img {
					width: 2.5rem;
				}
			}
		}
	}
}

.timeline.card {
	background-color: transparent;
	.element {
		background-color: #fff;
		margin-bottom: 1rem;
	}
}

.covered .tabs {
	.timeline-tab {
		padding: 0;
	}
}