.timeline {
	background: transparent !important;
	border:none !important;
	.element {
		margin-bottom: 1em;
		background-color: #fff;
	}
	.input-group {
		display: flex;
		input {
			flex-grow: 1;
			float: none;
			width: auto;
		}
		.input-group-btn {
			display: block;
			width: auto;
			&:focus{outline: none;}
			.btn {height: 36px;}
		}
	}
	.btn {
		color: #536570;
		background-color: #ffffff;
		border-color: #d4dbe0;
		&:hover, &:focus, &:active {
			color: #536570;
			text-decoration: none;
			background-color: #e6e6e6;
			border-color: #b0bdc6;
		}
	}
	.element {
		padding: .9375em;
		border: 1px solid #d3e0e9;
		.post {
			display: flex;
			.avatar img {
				max-width: 60px;
				min-width: 60px;
				border-radius: 50%;
			}
			.body {
				flex-grow: 1;
				padding-left: 1em;
				.infos {
					display: flex;
					margin-bottom: .25em;
					.name {flex-grow: 1;}
					.time {
						margin-top: -.5em;
						color: #9da9b0;
					}
				}
				p {
					margin: 0;
					line-height: 1.4;
				}
			}
		}
		.comments {
			padding-top: .6em;
			margin-top: .6em;
			.comment {
				display: flex;
				padding: .6em 0;
				border-top: 1px solid #d4dbe0;
				.avatar img {
					max-width: 45px;
					min-width: 45px;
				}
			}
		}
		footer {
			display: flex;
			align-items: center;
			padding: .9375em;
			margin: .9375em -.9375em -.9375em;
			background-color: #EFEBEB;
			.avatar img {
				max-width: 45px;
				min-width: 45px;
				border-radius: 50%;
			}
			.input-group {
				flex-grow: 1;
				padding-left: 1em;
			}
		}
	}
}
