.qv.rc.alu.ss
	.qw
		h5.ald
			a(href='#') Membres
		ul.qo.anx
			li.qf.alm
				a.qj(href='#')
					img.qh.cu(src='img/jeremy.jpg')
				.qg
					strong Bobby Pony
					.aoa
						button.cg.ts.fx.
							#[span.fa.fa-user-plus]
							Ajouter
			li.qf
				a.qj(href='#')
					img.qh.cu(src='img/robin.jpg')
				.qg
					strong Robin Nez
					.aoa
						button.cg.ts.fx.
							#[span.fa.fa-user-plus]
							Ajouter