.card.recommendations
	.content
		h5.title
			a(href='#') Recommendations
		.friend
			a.avatar(href="#")
				img(src="img/jeremy.jpg", alt="", class="img-circle")
			.infos
				.name Bobby Pony
				button.btn.btn-inversed.
					#[span.fa.fa-user-plus]
					Ajouter
		.friend
			a.avatar(href="#")
				img(src="img/robin.jpg", alt="Robinou", class="img-circle")
			.infos
				.name Robin New
				button.btn.btn-inversed.
					#[span.fa.fa-user-plus]
					Ajouter