.qv.rc.sm.sp
	.qw
		h5.ald A propos
			small
				a(href='#') Edit
		ul.eb.tb
			li
				span.dp.h.xh.all
				a(href='#') Oh, Canada
			li
				span.dp.h.ajw.all
				a(href='#') Obama
			li
				span.dp.h.abu.all
				a(href='#') Github
			li
				span.dp.h.ack.all
				a(href='#') San Francisco, CA
			li
				span.dp.h.adt.all
				a(href='#') Seattle, WA