.card.listing
	.content
		h5.title
			a(href='#') Amis
		.friends
			.friend
				a.avatar(href="#", title="Bobby Pony").
					#[img(src="img/jeremy.jpg", alt="", class="img-circle")]
					Bobby Pony
			.friend
				a.avatar(href="#", title="Robin Nez").
					#[img(src="img/robin.jpg", alt="", class="img-circle")]
					Robin Nez
			.friend
				a.avatar(href="#", title="Robert Magicien").
					#[img(src="img/robert.png", alt="", class="img-circle")]
					Robert Magicien
			.friend
				a.avatar(href="#", title="Robert Magicien").
					#[img(src="img/robert.png", alt="", class="img-circle")]
					Robert Magicien
			.friend
				a.avatar(href="#", title="Robert Magicien").
					#[img(src="img/robert.png", alt="", class="img-circle")]
					Robert Magicien
			.friend
				a.avatar(href="#", title="Bobby Pony").
					#[img(src="img/jeremy.jpg", alt="", class="img-circle")]
					Bobby Pony
			.friend
				a.avatar(href="#", title="Robin Nez").
					#[img(src="img/robin.jpg", alt="", class="img-circle")]
					Robin Nez
