.card-profil
	.cover(style="background-image:url(http://bootstrap-themes.github.io/application/assets/img/iceland.jpg)")
	.content
		a(href="/profil")
			img.picture.img-circle.img-thumbnail(src="img/robert.png", alt="")
		h5.name
			a.link(href="/profil") Bobby LeKing
		p.text Texte d'exemple
		ul.stats
			li.stat
				a.link(href="#friendsModal", data-toggle="modal").
					Amis
					#[h5.nb 25]
			li.stat
				a.link(href="#associationsModal", data-toggle="modal").
					Assos
					#[h5.nb 5]