.card.currentUser
	.cover(style="background-image:url(http://bootstrap-themes.github.io/application/assets/img/iceland.jpg)")
	.content
		a(href="/profil")
			img.picture.img-circle.img-thumbnail(src="img/robert.png", alt="")
		h5.name
			a.link(href="/profil") Bobby Pony
		p.text Texte d'exemple
		.stats
			a.stat(href="#friendsModal", data-toggle="modal").
				Amis
				#[h5.nb 25]
			a.stat(href="#associationsModal", data-toggle="modal").
				Assos
				#[h5.nb 5]