.card.recommendations
	h5.title
		a(href='#') Recommendations d'amis
	.elements
		.friend
			a.avatar(href="#")
				img(src="img/jeremy.jpg", alt="", class="img-circle")
			.infos
				.name Bobby Pony
				button.btn.btn-inversed.
					#[span.fa.fa-user-plus]
					Ajouter
		.friend
			a.avatar(href="#")
				img(src="img/robin.jpg", alt="", class="img-circle")
			.infos
				.name Robin Nez
				button.btn.btn-inversed.
					#[span.fa.fa-user-plus]
					Ajouter
		.friend
			a.avatar(href="#")
				img(src="img/robert.png", alt="", class="img-circle")
			.infos
				.name Robert Magicien
				button.btn.btn-inversed.
					#[span.fa.fa-user-plus]
					Ajouter