.card.settings
	.content(ng-show="settings.isSet(1)")
		h4 Paramètres du compte
	.content(ng-show="settings.isSet(2)")
		h4 Sécurité
	.content(ng-show="settings.isSet(3)")
		h4 Paramètres du calendrier
	.content(ng-show="settings.isSet(4)")
		h4 Gestion des amis