.card.settings
	h5.title A propos
	.text-list
		.link(ng-class="{active:settings.isSet(1)}")
			i.fa.fa-home
			a(ng-click="settings.setTab(1)") General
		.link(ng-class="{active:settings.isSet(2)}")
			i.fa.fa-lock
			a(ng-click="settings.setTab(2)") Sécurité
		.link(ng-class="{active:settings.isSet(3)}")
			i.fa.fa-calendar
			a(ng-click="settings.setTab(3)") Calendar
		.link(ng-class="{active:settings.isSet(4)}")
			i.fa.fa-users
			a(ng-click="settings.setTab(4)") Amis