.card.summary.no-padding
	.summary__cover(style="background-image:url(img/cover/black.jpg)")
	a.summary__picture(href="/profil")
		img(src="img/robert.png", alt="")
	a.summary__name(href="/profil") Bobby Pony
	.summary__stats
		a.stat(href="#friendsModal", data-toggle="modal").
			Location
			#[h5.nb Paris]
		a.stat(href="#friendsModal", data-toggle="modal").
			Amis
			#[h5.nb 25]
		a.stat(href="#associationsModal", data-toggle="modal").
			Assos
			#[h5.nb 5]
