ul
	li.element.new
		.input-group
			input.form-control(type="text", placeholder="Message")
			.input-group-btn
				button.btn
					span.fa.fa-user
	li.element.post
		a.avatar(href="#")
			img(src="img/robert.png", alt="")
		.body
			.infos
				small.time 14 min
				h5 Bobby LeKing
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
			hr
			ul.comments
				li.comment
					a.avatar(href="#")
						img(src="https://scontent-lax3-1.xx.fbcdn.net/hprofile-frc3/v/t1.0-1/c0.0.160.160/p160x160/10622826_10204550306020460_9073571375882853074_n.jpg?oh=b800a33920ff44235f6086e08f431910&oe=571C9CB0", alt="")
					.body
						.infos
							small.time 8 min
							h5 Robin le moche
						p Vestibulum condimentum metus neque, ut elementum tellus venenatis sit amet.
				li.comment
					a.avatar(href="#")
						img(src="https://scontent-lax3-1.xx.fbcdn.net/hprofile-xfa1/v/t1.0-1/p160x160/11986429_10207910547898402_4561233441788466121_n.jpg?oh=33939ac6bb38d60cc37ffb03017e37a7&oe=57169A0D", alt="")
					.body
						.infos
							small.time 5 min
							h5 Jerem la moule
						p Sed justo nunc, ultrices et felis placerat, varius mollis odio.
	li.element.post
		a.avatar(href="#")
			img(src="https://scontent-lax3-1.xx.fbcdn.net/hprofile-frc3/v/t1.0-1/c0.0.160.160/p160x160/10622826_10204550306020460_9073571375882853074_n.jpg?oh=b800a33920ff44235f6086e08f431910&oe=571C9CB0", alt="")
		.body
			.infos
				small.time 37 min
				h5 Robin le moche
			p Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
