.card.timeline.no-padding(ng-controller="timelineController as timeline")
	section.element.new
		.input-group
			input.form-control(type="text", placeholder="Publier un message")
			.input-group-btn
				button.btn
					span.fa.fa-play
	section.element
		.post
			a.avatar(href="#")
				img(src="img/robert.png", alt="")
			.body
				header.infos
					h5.name Bobby LeKing
					small.time 14 min
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
				.comments
					.comment
						a.avatar(href="#")
							img(src="img/robin.jpg", alt="")
						.body
							header.infos
								h5.name Robin le moche
								small.time 8 min
							p Vestibulum condimentum metus neque, ut elementum tellus venenatis sit amet.
					.comment
						a.avatar(href="#")
							img(src="img/jeremy.jpg", alt="")
						.body
							header.infos
								h5.name Jerem la moule
								small.time 5 min
							p Sed justo nunc, ultrices et felis placerat, varius mollis odio.
					.comment(ng-show="timeline.test")
						a.avatar(href="#")
							img(src="img/robert.png", alt="")
						.body
							header.infos
								h5.name Bobby LeKing
								small.time Maintenant
							p {{timeline.test}}
		footer.answer
			a.avatar(href="#")
				img(src="img/robert.png", alt="Robert")
			.input-group
				input.form-control(
					type="text",
					placeholder="Poster un commentaire",
					ng-model="timeline.test")
				.input-group-btn
					button.btn
						span.fa.fa-play
	section.element
		.post
			a.avatar(href="#")
				img(src="img/robin.jpg", alt="")
			.body
				header.infos
					h5.name Robin Nez
					small.time 37 min
				p Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		footer.answer
			a.avatar(href="#")
				img(src="img/robert.png", alt="Robert")
			.input-group
				input.form-control(type="text", placeholder="Poster un commentaire")
				.input-group-btn
					button.btn
						span.fa.fa-play
