extends ../layout/default

block left-column
	.card.currentUser
		include ../module/profil

block center-column
	.card
		.content(ng-show="!asso.list.length")
			h4 Rejoignez une association
		.content(ng-show="asso.list.length")
			h4 Actualités de vos associations

block right-column
	include ../module/friends
	.card.events
		include ../module/events
