extends ../layout/two-columns

block sidebar-column
	include ../module/currentuser
	//- include ../module/about.jade
	include ../module/friends

block main-column
	include ../module/timeline

//- block right-column
	include ../module/events.jade