extends ../layout/two-columns

block sidebar-column
	include ../module/profil
	.card
		a.link.inversed(href="#").
			#[i.fa.fa-pencil]
			Modifier profil
	//- include ../module/about.jade
	include ../module/friends

block main-column
	include ../module/timeline

//- block right-column
	include ../module/events.jade