extends ../layout/default

block left-column
	.card.currentUser
		include ../module/profil.jade
	//- include ../module/about.jade

block center-column
	.card.timeline
		include ../module/timeline.jade

block right-column
	.card.events
		include ../module/events.jade