.content-wrapper
	.container
		.row
			.col-sm-4
				user-summary
				.action
					a(href="#").
						#[i.fa.fa-pencil]
						Modifier profil
				.action
					a(href="#").
						#[i.fa.fa-lock]
						Sécurité
			.col-sm-8
				timeline
