.ch-grid
	.ch-grid_col.--one-third_from-tablet
		user-summary
		.action
			a(ui-sref="profil.settings").
				#[i.fa.fa-pencil]
				Modifier profil
		.action
			a(ui-sref="associations").
				#[i.fa.fa-lock]
				Sécurité
	.ch-grid_col.--two-thirds_from-tablet
		timeline
