extends ../layout/two-columns

block sidebar-column
	//- Module summary sert à resumer les infos sur l'utilisateur en cours
	user-summary
	//- Actions que l'utilisateur pourrait vouloir faire depuis l'accueil
	include ../module/actions
	//- Liste d'amis recommandés
	recommendation
	//- Liste d'assos recommandées
	include ../module/reco-assos

block main-column
	//- La timeline avec les dernières news de l'utilisateur en cours
	timeline
