.ch-profil
	.ch-profil_cover
		.ch-profil_background
			img.bscard-bkimg(ng-src="img/cover/fuzeria.jpg")
		.ch-profil_picture
			img(ng-src="http://api.caritathelp.me{{vm.asso.thumb_path}}", alt="{{vm.asso.name}}")
		.ch-profil_name {{vm.asso.name}}
	.btn-pref.btn-group.btn-group-justified.btn-group-lg(style="display:flex")
		.btn-group
			a(ui-sref="association.home", ui-sref-active="active").btn.btn-primary
				i.fa.fa-home
				.hidden-xs Accueil
		.btn-group
			a(ui-sref="association.members", ui-sref-active="active").btn.btn-primary
				i.fa.fa-users
				.hidden-xs Membres
		.btn-group
			a(ui-sref="association.calendar", ui-sref-active="active").btn.btn-primary
				i.fa.fa-calendar
				.hidden-xs Calendrier
		.btn-group(ng-if="vm.asso.rights == 'owner' || vm.asso.rights == 'admin'")
			a(ui-sref="association.settings", ui-sref-active="active").btn.btn-primary
				i.fa.fa-cog
				.hidden-xs Administration

	.tabs
		ui-view(ng-show="vm.loaded.asso")
		.profil--loader(ng-show="!vm.loaded.asso")
			i.fa.fa-spin.fa-refresh
			.loader--info Chargement du profil
