.content-wrapper
	.jumbotron.profil-display
		.background
		.infos
			img.img-circle.picture(src="img/robert.png", alt="")
			h3.name Prénom Nom
			p Lorem Ipsum sit dolor tu quoque mi fili
		nav.anw
			ul.nav.ol
				li.active
					a(href="#") Photos
				li
					a(href="#") Others
				li
					a(href="#") Settings
