extends ../layout/with-cover

block jumbotron
	.profil--cover
		.pcover--background
			img.bscard-bkimg(ng-src="{{vm.user.picture}}")
		.pcover--avatar
			img(ng-src="{{vm.user.picture}}")
		.pcover--name
			span.pcover--title {{vm.user.firstname}} {{vm.user.lastname}}
	.btn-pref.btn-group.btn-group-justified.btn-group-lg(style="display:flex")
		.btn-group
			a(ui-sref="profil.home", ui-sref-active="active").btn.btn-primary
				i.fa.fa-home
				.hidden-xs Accueil
		.btn-group
			a(ui-sref="profil.friends", ui-sref-active="active").btn.btn-primary
				i.fa.fa-users
				.hidden-xs Friends
		.btn-group
			a(ui-sref="profil.assos", ui-sref-active="active").btn.btn-primary
				i.fa.fa-truck
				.hidden-xs Associations
		.btn-group
			a(ui-sref="profil.calendar", ui-sref-active="active").btn.btn-primary
				i.fa.fa-calendar
				.hidden-xs Calendrier
		.btn-group
			a(ng-if="vm.isCurrent", ui-sref="profil.settings", ui-sref-active="active").btn.btn-primary
				i.fa.fa-cog
				.hidden-xs Paramètres


block tabs
	ui-view(ng-show="vm.loaded == 4")
	.profil--loader(ng-show="vm.loaded != 4")
		i.fa.fa-spin.fa-refresh
		.loader--info Chargement du profil
