extends ../layout/with-cover

block jumbotron
	.coverstatebackground(style="background-image:url(img/cover/skyline.jpg)")
	.cover--infos
		//- Image de profil (défaut si l'user n'en a pas)
		img.picture(ng-if="vm.user.picture", ng-src="{{vm.user.picture}}", alt="{{vm.user.firstname}} {{vm.user.lastname}}")
		h1.name {{vm.user.firstname}} {{vm.user.lastname}}
	nav.cover--navigation
		a(ui-sref="profil.home", ui-sref-active="active") Accueil
		a(ui-sref="profil.friends", ui-sref-active="active") Amis
		a(ui-sref="profil.assos", ui-sref-active="active") Associations
		a(ui-sref="profil.calendar", ui-sref-active="active") Calendrier
		a(ng-if="vm.isCurrent", ui-sref="profil.settings", ui-sref-active="active") Paramètres

block tabs
	ui-view(ng-show="vm.loaded == 4")
	.profil--loader(ng-show="vm.loaded != 4")
		i.fa.fa-spin.fa-refresh
		.loader--info Chargement du profil
