extends ../layout/with-cover

block jumbotron
	.cover--background(style="background-image:url(img/cover/fuzeria.jpg)")
	.cover--infos
		img.picture(ng-if="!vm.asso.thumb_path", src="img/mlp.jpg", alt="")
		img.picture(ng-if="vm.asso.thumb_path", ng-src="http://api.caritathelp.me{{vm.asso.thumb_path}}", alt="{{vm.asso.name}}")
		h1.name {{vm.asso.name}}
	nav.cover--navigation
		a(ui-sref="association.home", ui-sref-active="active") Accueil
		a(ui-sref="association.members", ui-sref-active="active") Membres
		a(ui-sref="association.calendar", ui-sref-active="active") Evenements
		a(ui-sref="association.settings", ui-sref-active="active") Administration

block tabs
	ui-view

