extends ../layout/with-cover

block jumbotron
	.cover--background(style="background-image:url(img/cover/fuzeria.jpg)")
	.cover--infos
		img.picture(ng-if="!vm.asso.thumb_path", src="img/mlp.jpg", alt="")
		img.picture(ng-if="vm.asso.thumb_path", ng-src="http://api.caritathelp.me{{vm.asso.thumb_path}}", alt="{{vm.asso.name}}")
		h1.name {{vm.asso.name}}
	nav.cover--navigation
		a(ng-click="vm.setTab(1)"
			ng-class="{active:vm.isSet(1)}") Timeline
		a(ng-click="vm.setTab(2)"
			ng-class="{active:vm.isSet(2)}") Membres
		a(ng-click="vm.setTab(3)"
			ng-class="{active:vm.isSet(3)}") Evenements
		a(ng-click="vm.setTab(4)"
			ng-class="{active:vm.isSet(4)}") Administration

block tabs
	.timeline-tab(ng-show="vm.isSet(1)")
		.col-md-4
			.description
				header
					.description--title Description
				section
					.description--text {{vm.asso.description}}
			//-Bloc d'informations latéral
			.rights.alert(ng-class="vm.rights.class") {{vm.rights.message}}
			//- Actions possibles pour l'utilisateur
			.action(ng-if="vm.asso.rights == 'none'")
				a(ng-click="vm.joinAsso()").
					#[i.fa.fa-plus]
					Rejoindre cette association
			.action(ng-if="vm.asso.rights == 'member' || vm.asso.rights == 'admin' || vm.asso.rights == 'owner'")
				a(ng-click="vm.inviteAsso()").
					#[i.fa.fa-user-plus]
					Inviter vos amis
			.action(ng-if="vm.asso.rights == 'admin' || vm.asso.rights == 'member'")
				a(ng-click="vm.leaveAsso()").
					#[i.fa.fa-minus]
					Quitter l'association
			.action(ng-if="vm.asso.rights == 'owner'")
				a(ng-click="vm.deleteAsso()").
					#[i.fa.fa-minus]
					Supprimer l'association
			//- Timeline de l'association
		.col-md-8
			timeline(tl-id="vm.asso.id", tl-type="association")
	.members-tab(ng-show="vm.isSet(2)")
		.col-md-3(ng-repeat="member in vm.asso.members")
			user-summary(user-id="member.id")
	.calendar-tab(ng-show="vm.isSet(3)")
		calendar(cal-type="association", cal-id="vm.asso.id", cal-rights="vm.asso.rights")
	.settings-tab(ng-show="vm.isSet(4)")
		include ../tabs/asso-calendar
