extends ../layout/with-cover

block jumbotron
	.cover--background(style="background-image:url(img/cover/fuzeria.jpg)")
	.cover--infos
		img.picture(src="img/mlp.jpg", alt="")
		h1.name {{asso.asso.name}}
	nav.cover--navigation
		a(ng-click="asso.setTab(1)"
			ng-class="{active:asso.isSet(1)}") Timeline
		a(ng-click="asso.setTab(2)"
			ng-class="{active:asso.isSet(2)}") Membres
		a(ng-click="asso.setTab(3)"
			ng-class="{active:asso.isSet(3)}") Evenements

block tabs
	.timeline-tab(ng-show="asso.isSet(1)")
		.col-md-4
			.action
				a(href="#").
					#[i.fa.fa-plus]
					Rejoindre l'association
		.col-md-8
			timeline
	.members-tab(ng-show="asso.isSet(2)")
		.col-md-3(ng-repeat="member in asso.asso.members")
			user-summary(user-id="member.id")
	.settings-tab(ng-show="asso.isSet(3)")
		include ../tabs/asso-calendar
