extends ../layout/with-cover

block jumbotron
	.background(style="background-image:url(img/cover/skyline.jpg)")
	.infos
		img.img-circle.picture(src="img/robert.png", alt="")
		h3.name {{nav.user.firstname}} {{nav.user.lastname}} Bobby Pony
		p Lorem Ipsum sit dolor tu quoque mi fili
	nav.navigation
		a(ng-click="profil.setTab(1)"
			ng-class="{active:profil.isSet(1)}") Timeline
		a(ng-click="profil.setTab(2)"
			ng-class="{active:profil.isSet(2)}") Calendrier
		a(ng-click="profil.setTab(3)"
			ng-class="{active:profil.isSet(3)}") Settings

block tabs
	.timeline-tab(ng-show="profil.isSet(1)")
		.col-md-4
			include ../module/friends
		.col-md-8
			include ../module/timeline
	.calendar-tab(ng-show="profil.isSet(2)")
		include ../module/calendar
	.settings-tab(ng-show="profil.isSet(3)")
		include ../module/settings
