.ch-profil
	.ch-profil_cover
		.ch-profil_background
			img.bscard-bkimg(ng-src="{{vm.user.picture}}")
		.ch-profil_picture
			img(ng-src="{{vm.user.picture}}")
		.ch-profil_name {{vm.user.firstname}} {{vm.user.lastname}}
	.ch-profil_nav
		button.ch-btn.ch-profil_nav-button(ui-sref="profil.home", ui-sref-active="active")
				i.fa.fa-home
				.hidden-xs Accueil
		button.ch-btn.ch-profil_nav-button(ui-sref="profil.friends", ui-sref-active="active")
			i.fa.fa-users
			.hidden-xs Friends
		button.ch-btn.ch-profil_nav-button(ui-sref="profil.assos", ui-sref-active="active")
			i.fa.fa-truck
			.hidden-xs Associations
		button.ch-btn.ch-profil_nav-button(ui-sref="profil.calendar", ui-sref-active="active")
			i.fa.fa-calendar
			.hidden-xs Calendrier
		button.ch-btn.ch-profil_nav-button(ui-sref="profil.settings", ui-sref-active="active")
			i.fa.fa-cog
			.hidden-xs Paramètres


	.tabs
		ui-view(ng-show="vm.loaded == 4")
		.profil--loader(ng-show="vm.loaded != 4")
			i.fa.fa-spin.fa-refresh
			.loader--info Chargement du profil
