.content-wrapper
	.container
		.row
			.col-sm-4
				user-summary
				.action
					a(href="#").
						#[i.fa.fa-pencil]
						Modifier profil
				.action
					a(href="#").
						#[i.fa.fa-lock]
						Sécurité
			.col-sm-8.card
				header
					h2 Recherche de "{{search.research}}"
					br
				section.search--results
					.card.listing(ng-show="search.result.length", ng-repeat="res in search.result")
						.friend(ng-if="res.result_type == 'Volunteer'")
							a(href="#/user/{{res.id}}", title="{{res.name}}")
								img(ng-src="http://api.caritathelp.me{{res.thumb_path}}", alt="{{res.name}}", class="img-circle")
							a.name(href="#/user/{{res.id}}") {{res.name}}
						.association(ng-if="res.result_type == 'Assoc'")
							a(href="#/association/{{res.id}}", title="{{res.name}}")
								img(ng-src="http://api.caritathelp.me{{res.thumb_path}}", alt="{{res.name}}", class="img-circle")
							a.name(href="#/user/{{res.id}}") {{res.name}}
						.event(ng-if="res.result_type == 'Event'")
							a(href="#/event/{{res.id}}", title="{{res.name}}")
								img(ng-src="http://api.caritathelp.me{{res.thumb_path}}", alt="{{res.name}}", class="img-circle")
							a.name(href="#/user/{{res.id}}") {{res.name}}
					.card.listing(ng-show="search.error") {{search.error}}
