.content-wrapper
	.container
		.row
			.col-sm-4
				user-summary
				.action
					a(href="#").
						#[i.fa.fa-pencil]
						Modifier profil
				.action
					a(href="#").
						#[i.fa.fa-lock]
						Sécurité
			.col-sm-8.card
				header
					h2 Recherche de "{{search.research}}"
					br
				section.search--results
					.card--title
						a(href='#') Résultats dans les volontaires
					.card.listing(ng-show="search.resUser.length", ng-repeat="user in search.resUser")
						.friends
							.friend
								a(href="#/user/{{user.id}}", title="{{user.firstname}} {{user.lastname}}")
									img(src="http://api.caritathelp.me{{user.thumb_path}}", alt="{{user.firstname}} {{user.lastname}}", class="img-circle")
								a.name(href="#/user/{{user.id}}") {{user.firstname}} {{user.lastname}}
					.card.listing(ng-show="search.errorUser") {{search.errorUser}}
				section.search--results
					.card--title
						a(href='#') Résultats dans les associssons
					.card.listing(ng-show="search.resAsso.length", ng-repeat="asso in search.resAsso")
						.association
							a(href="#/association/{{asso.id}}", title="{{asso.name}}")
								img(src="img/mlp.jpg", alt="{{asso.name}}", class="img-circle")
								img(src="http://api.caritathelp.me{{asso.thumb_path}}", alt="{{asso.name}}", class="img-circle")
							a.name(href="#/association/{{asso.id}}") {{asso.name}}
					.card.listing(ng-show="search.errorAsso") {{search.errorAsso}}
