extends ../layout/default

block left-column
	include ../module/profile.jade
	//- include ../module/about.jade

block center-column
	include ../module/timeline.jade

block right-column
	include ../module/events.jade